.LedgerCounter {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.SelectBlock {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}
.selectItem {
    padding-left: 10px;
    padding-top: 10px;
    font-size: larger;
}
.AccountLedger {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

@media (min-width: 400px) {
    .LedgerCounter {
        flex-direction: row;
    }
    .AccountLedger {
        padding-left: 60px;
    }
  }