
.choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chooseElememt {
    font-weight: 500;
}

.chooseElememt:first-child {
    margin-right: 12px;
}

.Input {
    margin-top: 24px;
}

.chooseButton {
    margin-top: 20px;
}
.Content {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

.PlayerCard {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
@media(min-width: 760px) {
    .Content {
        flex-direction: row;
        padding: 32px 0;
    }
    .PlayerCard {
        margin-top: 0;
        margin-left: 64px;
    }
}