.LedgerCounter {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.SelectBlock {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}
.selectItem {
    padding-left: 10px;
    padding-top: 10px;
    font-size: larger;
}
.AccountLedger {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}