.uiBlock {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn {
    margin-top: 20px;
}


@media (min-width: 400px) {
    .uiBlock {
        flex-direction: row;
    }
    .component {
        padding-left: 60px;
    }
  }