@import '~antd/dist/antd.css';
.App {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}


.site-layout-content {
  min-height: 80vh;
  background: #fff;
  padding: 16px;
}
@media (min-width: 640px) {

  .site-layout-content {
    padding: 32px;
  }

}
